{% extends './plantilla.html' %}
{% load static %}

{% block body %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 bg-light">
        <h1>NUEVA MASCOTA </h1>
        <form action="{% url 'guardarMascota' %}" id="form_mascota" 
      enctype="multipart/form-data" 
      method="post">

            {% csrf_token %}
            <label for="">Nombre</label><br>
            <input required placeholder="Ingrese el nombre de la mascota" class="form-control" type="text" name="nombre" id="nombre"><br>

            <label for="">Descripción</label><br>
            <input required placeholder="Ingrese la descripción" class="form-control" type="text" name="descripcion" id="descripcion"><br>
            <label for="">Especie</label><br>
            <input required placeholder="Ingrese la especie" class="form-control" type="text" name="especie" id="especie"><br>
            <label for="">Raza</label><br>
            <input required placeholder="Ingrese la raza" class="form-control" type="text" name="raza" id="raza"><br>

            <label for="">Edad</label><br>
            <input required placeholder="Ingrese la edad" class="form-control" type="number" name="edad" id="edad"><br>
            <label>Sexo</label>
            <select class="form-control" name="sexo">
                <option value="">Seleccione el sexo</option>
                <option value="Macho">Macho</option>
                <option value="Hembra">Hembra</option>
            </select><br>
            <label for="">Color</label><br>
            <input required placeholder="Ingrese el color" class="form-control" type="text" name="color" id="color"><br>
            <label for="">Foto</label><br>
            <input required class="form-control" type="file" name="foto" id="foto" accept="image/jpeg,image/png,image/jpg"><br>
            <label>Estado</label>
            <select class="form-control" name="estado">
                <option value="">Seleccione el estado</option>
                <option value="Disponible">Disponible</option>
            </select><br>

            

            

            
            <button
            class="btn btn-success" type="submit">Guardar</button>
            <a 
            class="btn btn-outline-danger" href="/mascota">Cancelar</a>
        </form>
    
    </div>
    
</div>
<script>
$(document).ready(function() {
    $("#foto").fileinput({
        language: 'es',
        allowedFileExtensions: ['jpg', 'jpeg', 'png'],
        maxFileSize: 2048, // 2 MB
        showPreview: true,
        showUpload: false,
        showRemove: true,
        initialPreviewAsData: true,
        theme: 'fas'
    });
});
</script>

<script>
    $("#form_mascota").validate(
        {
            rules:{
                "nombre":{
                    required:true,
                    maxlength:20
                },
                "descripcion":{
                    required:true,
                    maxlength:30
                },
                
                "especie":{
                    required:true,
                    maxlength:20
                },
                "raza":{
                    required:true,
                    maxlength:20
                },
                edad: {
                    required: true,
                    number: true, 
                    min: 0,
                    max: 30,
                },
                "sexo":{
                    required:true,
                },
                "color":{
                    required:true,
                    maxlength:20
                },
                foto: {
                    required: true,
                    extension: "jpg|jpeg|png"
                },
                "estado":{
                    required:true,
                   
                },
                
            },
            messages:{
                "nombre":{
                    required:"Ingrese el nombre",
                    maxlength:"Máximo 20 letras"
                },
                "descripcion":{
                    required:"Ingrese la descripción",
                    maxlength:"Máximo 20 letras"
                },
                
                "especie":{
                    required:"Ingrese la especie",
                    maxlength:"Máximo 20 letras"
                },
                "raza":{
                    required:"Ingrese la raza",
                    maxlength:"Máximo 20 letras"
                },
                "edad":{
                    required:"Ingrese la edad",
                    number: "Ingrese un valor numérico",
                    min: "La edad no puede ser menor a 0",
                    max: "La edad máxima permitida es 30 años"
                },
                "sexo":{
                    required:"Seleccione el sexo",
                },
                "color":{
                    required:"Ingrese el color",
                    maxlength:"Máximo 20 letras"
                },
            
                "foto": {
                    required: "Seleccione una foto",
                    extension: "Solo se permiten imágenes .jpg, .jpeg o .png"
                },
                "estado":{
                    required:"Seleccione el estado",
                },
                
            }
        }
    ); 

</script>



{% endblock %}