{% extends './plantilla.html' %}
{% load static %}
{% block body %}


<h1> LISTA DE PERSONAS ADOPTANTES</h1>
<div class="mb-3">
    <a href="{% url 'nuevaPersona' %}" class="btn btn-success">
        <i class="fa fa-plus"></i> Agregar Nueva Persona
    </a>
</div>

<table class="table table-bordered" id="tbl_personas">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Teléfono</th>
            <th>Email</th>
            <th>Dirección</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        {% for personaTemporal in personas %}
            <tr>
                <td>{{ personaTemporal.id }}</td>   
                <td>{{ personaTemporal.nombre }}</td>
                <td>{{ personaTemporal.apellido }}</td>
                <td>{{ personaTemporal.telefono|default:"-" }}</td>
                <td>{{ personaTemporal.email|default:"-" }}</td>
                <td>{{ personaTemporal.direccion|default:"-" }}</td>
                <td>
                    <a href="{% url 'editarPersona' personaTemporal.id_persona %}" class="btn btn-primary">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </a>
                    <a href="#" onclick="eliminarPersona('{{ personaTemporal.id }}');" class="btn btn-danger">
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}